li {
  list-style: none;
  height: 40px;
  border: 1px solid #7f8c8d;
  background-color: #ecf0f1;
  color: #2c3e50;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.archive-text {
  display: inline;
}

.remove-archive {
  width: 150px;
  margin-right: 10px;
  display: inline;
  float: right;
  color: #c0392b;
}
